body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #333333;
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none; /* Запрет изменения размера текстового поля */
}

#resultBox {
    background-color: #e7f7e7;
    border: 1px solid #green;
    padding: 10px;
    margin-top: 10px;
    color: #333;
}

.theme-switch {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.theme-switch input {
    margin-right: 10px;
}
